---
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>{{site.title}}</title>

    {% include meta.html %} {% include favicon.html %} {% include styles.html %}
  </head>

  <body>
    <div class="main">
      <img
        class="animate__animated animate__jackInTheBox"
        src="assets/profile-picture.jpg"
      />

      <h1 class="title animate__animated animate__bounceIn delay-500">
        Param Thakkar
      </h1>

      <p class="subtitle animate__animated animate__bounceIn delay-750">
        I'm a Grade 11 Student
      </p>
    </div>

    <div class="folder slideUp">
      <div
        class="tab"
        id="teal"
        onmouseenter="moveUp(this, '#about');"
        onmouseleave="moveDown(this, '#about');"
      >
        <i class="fas fa-address-card"></i> About
      </div>

      <div
        class="tab"
        id="purple"
        onmouseenter="moveUp(this, '#projects');"
        onmouseleave="moveDown(this, '#projects');"
      >
        <i class="fas fa-briefcase"></i> Projects
      </div>

      <div
        class="tab"
        id="red"
        onmouseenter="moveUp(this, '#item3');"
        onmouseleave="moveDown(this, '#item3');"
      >
        <i class="fas fa-address-card"></i> Item 3
      </div>

      <div
        class="tab"
        id="green"
        onmouseenter="moveUp(this, '#achievements');"
        onmouseleave="moveDown(this, '#achievements');"
      >
        <i class="fas fa-trophy"></i> Achievements
      </div>
    </div>

    <div class="card slideUp active" id="about">
      <h2>About Me</h2>
      <p>I'm a grade 11 student.</p>
    </div>

    <div class="card slideUp" id="projects">
      <h2>Projects</h2>
    </div>

    <div class="card slideUp" id="item3">
      <h2>Item 3</h2>
    </div>

    <div class="card slideUp" id="achievements">
      <h2>Achievements</h2>
    </div>

    <script defer type="text/javascript" src="scripts/script.js"></script>
  </body>
</html>
