---
---

$teal: #274252;
$background: #cadce8;
$white: #ededed;
$red: #822f34;
$green: #3b822f;
$purple: #3a2f82;

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: $background;
  color: $teal;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;

  .title {
    font-size: 60px;
    margin-bottom: 0;
  }

  .subtitle {
    font-size: 30px;
    margin-top: 10px;
  }

  img {
    width: 300px;
    border-radius: 50%;
  }
}

.folder {
  display: flex;
  width: 100%;
  justify-content: center;
}

.tab {
  padding: 15px 30px 25px;
  color: white;
  font-size: 25px;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  transition: transform 0.2s;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }

  &#tab1 {
    background-color: $teal;
    z-index: 4;
  }

  &#tab2 {
    background-color: $purple;
    z-index: 3;
  }

  &#tab3 {
    background-color: $red;
    z-index: 2;
  }

  &#tab4 {
    background-color: $green;
    z-index: 1;
  }
}

.card {
  overflow: hidden;
  box-sizing: border-box;
  padding: 50px 20px;
  width: 100%;
  color: $white;
  transition: transform 0.2s;
  position: absolute;
  top: calc(85vh + 70px);

  h2 {
    font-size: 50px;
    margin-bottom: 0;
  }
}

#card1 {
  background-color: $teal;
  z-index: 4;
}

#card2 {
  background-color: $purple;
  z-index: 3;
}

#card3 {
  background-color: $red;
  z-index: 2;
}

#card4 {
  background-color: $green;
  z-index: 1;
}

.card:not(.active) {
  height: 100px;
}

.card.active {
  min-height: 1000px;
}

.active {
  z-index: 10 !important;
}

.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-fill-mode: backwards;
  -webkit-animation-fill-mode: backwards;
}

@keyframes slideUp {
  from {
    transform: translate3d(0, 200px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.delay-750 {
  animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
}

.delay-500 {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.aboutme {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;

  .left {
  }

  .links a {
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.2s;

    &:hover {
      background-color: blue;
    }
  }
}

.project {
  display: inline-block;
  height: 300px;
  margin: 10px;
  position: relative;
  width: 300px;
  color: black;
  font-size: 0; //Remove space between img and .content

  img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    height: 150px;
  }

  .content {
    background-color: #1f1d29;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
  }

  .buttons {
    a {
      display: inline-block;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      padding: 10px 0;
      width: 50%;
      background-color: #0b0f1a;
      color: white;
      transition: background-color 0.2s;
    }

    a:hover {
      background-color: #222a40;
    }
  }

  a:nth-child(1) {
    border-radius: 0 0 0 5px;
  }

  a:nth-child(2) {
    border-radius: 0 0 5px 0;
  }
}
