---
---

.delay-750 {
  animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
}

.delay-500 {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

$black: #274252;
$background: #cadce8;
$white: #ededed;

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: $background;
  color: $black;
  font-family: "Montserrat", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;

  .title {
    font-size: 60px;
    margin-bottom: 0;
  }

  .subtitle {
    font-size: 30px;
    margin-top: 10px;
  }

  img {
    width: 300px;
    border-radius: 50%;
  }
}

.card {
  h2 {
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 0;
  }
}

.icons {
  display: flex;
  width: 100%;
  justify-content: center;
}

.icon {
  background-color: $black;
  padding: 15px 30px;
  color: white;
  font-size: 25px;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);

  &.red {
    background-color: #822f34;
  }

  &.green {
    background-color: #3b822f;
  }

  &.purple {
    background-color: #3a2f82;
  }

  &:hover {
    transform: translateY(-10px);
    cursor: pointer;
  }

  transition: transform 0.2s;
}

.aboutme {
  background-color: #274252;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  background-color: $black;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
