---
---

.delay-750 {
  animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
}

.delay-500 {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

$teal: #274252;
$background: #cadce8;
$white: #ededed;
$red: #822f34;
$green: #3b822f;
$purple: #3a2f82;

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: $background;
  color: $teal;
  font-family: "Montserrat", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;

  .title {
    font-size: 60px;
    margin-bottom: 0;
  }

  .subtitle {
    font-size: 30px;
    margin-top: 10px;
  }

  img {
    width: 300px;
    border-radius: 50%;
  }
}

.card {
  width: 100vw;
  color: $white;
  transition: transform 0.2s;
  position: fixed;
  top: calc(85vh + 60px);

  h2 {
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 0;
  }
}

.icons {
  display: flex;
  width: 100%;
  justify-content: center;
}

.icon {
  padding: 15px 30px;
  color: white;
  font-size: 25px;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  transition: transform 0.2s;
  z-index: 1;

  &#teal {
    background-color: $teal;
  }

  &#red {
    background-color: $red;
  }

  &#green {
    background-color: $green;
  }

  &#purple {
    background-color: $purple;
  }
}

#about {
  background-color: $teal;
  color: $white;
}

#projects {
  background-color: $purple;
}

#item3 {
  background-color: $red;
}

#achievements {
  background-color: $green;
}

.active {
  z-index: 2;
}
