<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/favicon/apple-touch-icon.png?v=bOMbqXqrgO">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/favicon/favicon-32x32.png?v=bOMbqXqrgO">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/favicon/favicon-16x16.png?v=bOMbqXqrgO">
<link rel="manifest" href="{{site.baseurl}}/manifest.json">
<link rel="mask-icon" href="{{site.baseurl}}/assets/favicon/safari-pinned-tab.svg?v=bOMbqXqrgO" color="#5bbad5">
<link rel="shortcut icon" href="{{site.baseurl}}/assets/favicon/favicon.ico?v=bOMbqXqrgO">
<meta name="msapplication-TileColor" content="#e68b8b">
<meta name="msapplication-config" content="{{site.baseurl}}/assets/favicon/browserconfig.xml?v=bOMbqXqrgO">
<meta name="theme-color" content="#932524">
