<p><i class="fas fa-id-card"></i> <a target="_blank" href="resume/ParamThakkarResume.pdf">View Resume</a></p>
<p><img style="height: 1em" align="center" src="{{site.baseurl}}/assets/img/fiverr-icon.png"> <a target="_blank" href="https://www.fiverr.com/paramthakkar" rel="noopener">Hire me on Fiverr</a></p>
<p><i class="fas fa-envelope"></i> <a target="_blank" href="mailto:contact@param.me">contact@param.me</a></p>
<p><i class="fas fa-check-circle"></i> <a href="https://status.param.me">Status Monitoring</a></p>
