*{
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: #932524;
  overflow-x: hidden;
}

h1{
  color: white;
  font-size: 5em;
}

html, body, .container{
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

.main-pic{
  height: 80vh;
  opacity: 0.4;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  opacity: 0;
  z-index: -1;
}

.main-text{
  visibility: hidden;
}

.icons{
  display: flex;
  justify-content: space-around;
  width: 25%;
  visibility: hidden;
}

a{
  color: white;
  font-size: 3.5em;
}

a:hover{
  color: white !important;
}

.icon{
  transition: color 0.5s;
}

#arrow{
  position: absolute;
  bottom: 5vh;
  left: 0px;
  width: 100vw;
  font-size: 3em;
  color: white;
  opacity: 0;
  text-align: center;
  transition: opacity 0.5s
}

@media only screen and (max-width: 1600px) {
  .icons{
    width: 30%;
  }
}

@media only screen and (max-width: 1400px) {
  .icons{
    width: 35%;
  }
}

@media only screen and (max-width: 1200px) {
  .icons{
    width: 40%;
  }
}
