*{
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: #932524;

}

h1, h2, h3, p, #arrow{
  color: white;
}

h1{
  font-size: 5em;
}

h2{
  font-size: 3em;
}

h3{
  font-size: 1.5em;
  margin-bottom: 2vh;
  font-weight: 100;
  color: #dbdbdb;
}

p{
  font-size: 1.5em;
}

a{
  color: #4589f7;
  text-decoration: none;
  transition: color 0.2s;
}

a:hover{
  color: white;
}

html, body, .container{
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content{
  width: 100%;
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  margin-bottom: 75vh;
}

.min-padding{
  height: 100px;
}

.projects{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.content h1{
  padding-bottom: 5vh;
}

.project{
  margin: 10px 15px 0 15px;
  width: 20vw;
  background-color: #191919;
  border-radius: 10px 10px 0 0;
  padding: 2vh 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.project-more{
  width:100%;
  padding: 2vh 0 2vh 0;
  border-radius: 0 0 10px 10px;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -15%;
  margin: 0;
  transition: background-color 0.2s;
}

.project-more:hover{
  cursor: pointer;
  background-color: #333333;
}

.filler{
  width: 100%;
}

.achievement-wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.achievement{
  border-radius: 0 0 10px 10px;
  margin-top: 0;
  box-sizing: border-box;
  height: 100%;
}

.achievement-img{
  margin: 0;
  padding: 0;
  width: 20vw;
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
  display: block;
  filter: grayscale(0.6);
  transition: filter 0.2s;
}

a img:hover{
  filter: grayscale(0.2);
}


button, form input, form textarea{
  background-color: #1e1e1e;
  width: 98%;
  width: -moz-calc(100% - 30px);
  width: -webkit-calc(100% - 30px);
  width: -o-calc(100% - 30px);
  width: calc(100% - 30px);
  margin: 3vh 15px 0 15px;
  padding: 2vh 0 2vh 0;
  outline: none;
  border: none;
  border-radius: 10px;
  transition: background-color 0.2s;
  font-size: inherit;
  resize: none;
}

textarea::-webkit-scrollbar {
  border-radius: 0 10px 10px 0;
  background-color: #1e1e1e;
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #333333;
}

textarea::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background-color: #4d4d4d;
}

textarea::-webkit-scrollbar-track {
  border-radius: 0 10px 10px 0;
  background-color: #1e1e1e;
}

button:hover{
  cursor: pointer;
  background-color: #333333;
}

#more{
  width: 100%;
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
  font-family: 'Open Sans';
  font-size: 1.3em;
  text-decoration: none;
}

#more a{
  color: white;
  transition: color 0.25s;
}

#more a:hover{
  color: #4589f7;
}

#main-pic{
  height: 80vh;
  opacity: 0.4;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  z-index: -1;
  object-fit: cover;
}

#overlay{
  width: 100%;
  height: 100vh;
  background-color: black;
  position: fixed;
  opacity: 0.1;
  z-index: -1;
}

#transition-overlay{
  width: 100%;
  height: 100vh;
  background-color: white;
  position: fixed;
  opacity: 1;
  z-index: -1;
  transition: opacity 1.1s;
}

.main-text{
  visibility: hidden;
}

.icons{
  display: flex;
  justify-content: space-around;
  width: 500px;
  visibility: hidden;
}

.icons a{
  color: white;
  font-size: 3.5em;
}

.icons a:hover{
  color: white !important;
}

.icon{
  transition: color 0.5s;
}

#arrow{
  position: absolute;
  bottom: 5vh;
  left: 0;
  width: 100%;
  font-size: 3em;
  opacity: 0;
  text-align: center;
  transition: opacity 0.5s
}

form, form *{
  color: white;
  font-size: 1.3em;
}

form button{
  color: white;
}

form input, form textarea{
  width: 800px;
  padding: 15px;
}

form input::placeholder, form textarea::placeholder{
  color: white;
  opacity: 0.6;
}

@media only screen and (max-width: 1800px) {
  h1{
    font-size: 4.3em;
  }

  h2{
    font-size: 2.3em;
  }

  h3{
    font-size: 1.4em;
  }

  p{
    font-size: 1.4em;
  }
}

@media only screen and (max-width: 1600px) {
  .project{
    width: 22vw;
  }

  .achievement{
    width: 25vw;
  }

  .achievement-img{
    width: 25vw;
  }
}

@media only screen and (max-width: 1200px) {
  .project{
    width: 25vw;
    margin: 10px;
  }

  .achievement{
    margin-top: 0;
    width: 30vw;
  }

  .achievement-img{
    width: 30vw;
  }

  button{
    width: 98%;
    width: -moz-calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
    width: -o-calc(100% - 20px);
    width: calc(100% - 20px);
    margin: 2vh 10px 0 10px;
  }
}

@media only screen and (max-width: 1000px) {
  form input, form textarea{
    width: 80vw;
    padding: 15px;
  }

  .content{
    padding: 100px 0;
  }

  .filler{
    display: none;
  }

  .project{
    width: 50vw;
    margin-bottom: 100px;
    padding: 20px;
  }

  .achievement{
    margin-bottom: 50px;
  }

  .achievement-img{
    width: 50vw;
  }

  .projects{
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px){
  .project{
    width: 60vw;
    padding: 30px;
  }

  .achievement{
    padding: 20px 15px;
    margin-top: 0;
    width: 75vw;
  }

  .achievement-img{
    width: 75vw;
  }
}

@media only screen and (max-width: 700px){
  h2{
    font-size: 2.3em;
  }

  h3{
    font-size: 1.3em;
  }

  p{
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 600px){
  h1{
    font-size: 4em;
  }

  .icons{
    width: 450px;
  }
}

@media only screen and (max-width: 480px){
  h1{
    font-size: 2.8em;
  }

  h2{
    font-size: 2em;
  }

  h3{
    font-size: 1.2em;
  }

  #more h2{
    font-size: 1.8em;
  }

  h3{
    font-size: 1.3em;
  }

  p{
    font-size: 1.2em;
  }

  .icons{
    width: 300px;
  }

  .icons a{
    font-size: 2.5em;
  }

  .project{
    padding: 15px 10px;
    width: 75vw;
  }
}

@media only screen and (max-width: 350px){
  #more h2{
    font-size: 1.6em;
  }
}
